################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DZ4/MauiApp_Task5/MauiApp_Task5.sln
